// # 提示
$common-tip-higher: #555555;
$common-tip: #999999;
$common-tip-lower: #bbbbbb;

// # 通用
$common-white: #ffffff;
$common-black: #333333;

// # 全局颜色设置
$common-main: rgb(255, 0, 0);
$common-back: #ffffff;
