* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#app {
    width: 100%;
    height: 100%;
}
/* 裁剪 */
.text-cut {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
